@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

.imgCard {
  max-width: 250px;
}

.trailer {
  height: 100vh;
}

@media (max-width: 576px) {

  .trailer {
      height: 60vh;
      display: none;
  }
}

@media (min-width: 768px ) {

  .trailer {
      height: 60vh;
  }
}

@media (min-width: 992px) {

  .trailer {
      height: 100vh;
  }
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
